.question-parent-container {
  --dark-text-color: rgb(117, 117, 117);
  --light-text-color: rgb(136, 136, 136);
}

* {
  /* border: .2px dashed red; */
  font-family: sans-serif;
}

.question-parent-container {
  display: flex;
  flex-direction: column;
  color: var(--light-text-color);
  width: 90%vw;
}

.question-parent-container * {
  color: var(--light-text-color);
}

.question-header {
  align-self: flex-start;
  margin: 1em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.QA-search-container {
  display: flex;
  border: 1px solid grey;
  max-width: 1180px;
  width: 100%;
  height: 2.8em;
  align-self: flex-start;
  margin-left: .8em;
  justify-content: flex-start;
  padding: .2em;
}

.question-input {
  border: none;
  width: 95%;
  height: 95%;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-text-color);
  padding-left: .2em;
  text-transform: uppercase;
}

.QA-question-list {
  margin: .4em .2em .4em .2em;
  overflow-y: scroll;
  max-height: 48vh;

}

.QA-entry-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--light-text-color);
}

.QA-entry-header {
  display: flex;
}

.QA-entry-question {
  flex: 2;
  font-weight: bold;
  font-size: 18px;
  color: var(--dark-text-color);
  padding: .2em .3em .2em .2em;
  margin-left: .2em;
}

.QA-a-span {
  font-weight: bold;
  font-size: 18px;
  color: var(--dark-text-color);
  padding: .2em .2em .2em .2em;
  margin-left: .2em;
}

.QA-helpful-yes {
  text-decoration: underline;
  margin-right: .1em;
}

.QA-helpful-btn {
  cursor: pointer;
  margin: .5em;
}

.QA-entry-add-answer-bar {
  align-self: flex-end;
  padding-bottom: .3em;
}

.QA-entry-add-answer-btn {
  cursor: pointer;
  margin: .4em;
}

.QA-load-answers-btn, .QA-collapse-answers-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: .3em;
  margin: .3em 0 .3em 0;
  cursor: pointer;
}

.QA-answer-container {
  display: flex;
  margin-top: .3em;
}

.QA-answer-entry-container {
  margin-bottom: .2em;
}

.QA-answer-body {
  color: var(--light-text-color);
  padding: .2em .3em .2em .2em;
  font-size: 17px;
}

.QA-no-answers {
  color: var(--light-text-color);
  padding: .2em .2em .2em .2em;
  font-size: 17px;
}

.QA-answer-img {
  height: 3.8em;
  width: auto;
  margin: .5em;
}

.QA-answer-footer {
  padding: .4em .2em .4em .2em;
}

.QA-answer-by-date {
  margin: .3em .4em .4em 0;
}

.QA-answer-helpful {
  margin: .3em 0 .4em 0;
}

.QA-report {
  margin: .3em .4em .4em .4em;
  text-decoration: underline;
  cursor: pointer;
}

#search-icon {
  font-size: 28px;
  align-self: center;
  padding: .2em;
  margin-right: .2em;
}

.QA-add-question-bar {
  margin: 1em;
}

.QA-more-questions-btn {
  margin-right: 1.4em;
}
.QA-more-questions-btn, .QA-add-question-btn {
  padding: 1.4em;
  font-weight: bold;
  background-color: white;
  color: var(--dark-text-color);
  border: 1px solid var(--dark-text-color);
}