@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: 'Lato', sans-serif;
}
.list {
  list-style-type: none;
}

.reviews-parent {
  display: flex;
  max-width: 1280px;
  flex-direction: row;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reviews-header {
  align-self: flex-start;
}

.reviews-content {
  flex-direction: row;
  align-items:flex-start
}
.reviews-ratingBreakdown {
  display: flex;
}
.reviews-list {
  width: 70%;
  margin: 0 20px 10px 30px;
}

.tile {
  list-style-type: none;
  margin-bottom: 20px;
}

.tile-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tile-summary {
  margin: 5px 0;
}
.tile-body {
  margin: 5px 0;
  font-size: 10pt;
}

.rating-point {
  font-size: 40pt;
  margin: 10px 0;
}

.reviews-button {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 11pt;
  border: solid 1px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.stars-p {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 10pt;
}

.char-p {
  font-size: 10pt;
}

.characteristics {
  margin-top: 30px;
}

.char-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.char-description-p {
  font-size: 8pt;
}

.reviews-scroll {
  margin: .4em .2em .4em .2em;
  overflow-y: scroll;
  max-height: 65vh;
}

.reviews-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.reviews-modal-content {
  width: 500px;
  background-color: #fff;
}

.reviews-modal-header, .reviews-modal-footer {
  padding: 10px;
}

.reviews-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

}
.response {
  background-color: #D3D3D3;
  padding: 5px;
}

.form-parent {
  overflow-y: scroll;
  max-height: 65vh;
}
.form-stars {
  display:flex;
  flex-direction: row;
}
.form-recommend {
  font-size: 9pt;
}
.form-characteristics-size {
  display: flex;
  flex-direction: column;
}
.form-subtitle {
  margin: 5px 0;
  font-size: 10pt;
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  place-items: center;
}
.form-wrapper-p {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-align: center;
}

.form-p {
  margin: 0;
  font-size: 8pt;
}

.form-summary {
  min-width: 95%;
  max-width: 95%;
  max-height: 50%;
}

.form-body {
  min-width: 95%;
  max-width: 95%;
  max-height: 100%;
}
.form-nickname {
  min-width: 95%;
  max-width: 95%;
  max-height: 100%;
}
.form-email {
  min-width: 95%;
  max-width: 95%;
  max-height: 100%;
}

.form-description {
  font-size:'8pt';
  display: 'flex';
  justify-content: 'flex-end';
  margin-right: '20px'
}

#result{
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.thumbnail {
  width: 80px;
}